@charset "utf-8";
body {
  font-size:120%;
  font-family: "ＭＳ　ゴシック",sans-serif;
  padding-left:   30px;
  padding-right:  30px;
}

h1 {
  background-color:#aaddaa;
}

#nav {
  list-style: none;
  overflow: hidden;
}
 
#nav li {
  width: 250px;
  text-align: center;
  background-color: #ccc;
  float: left;
  height: 50px;
  line-height: 50px;
  margin-right: 2px;
}
 
#nav li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 20px;
}
